[submodule "Capstone-Machine-Learning"]
	path = Capstone-Machine-Learning
	url = https://github.com/riyanto12345/Capstone-Machine-Learning.git
[submodule "firststep-api"]
	path = firststep-api
	url = https://github.com/frnspry/firststep-api.git
[submodule "FirstStep"]
	path = FirstStep
	url = https://github.com/yunpnzr/FirstStep.git
